.result {
  height: 60vh;
  width: 100%;
  float: left;
  padding: 2em;
  margin: 0;
  width: 100%;
  border-top: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result .title {
  font-size: 1.5em;
}

.result .gif-result img {
  max-width: 200px;
  max-height: 200px;
  border: 2px solid black;
  margin: auto;
}

.result .gif-result {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result .gif-result h1 {
  font-size: 1em;
}

.result .gif-result button {
  margin-top: 0.5em;
  width: 100px;
  height: 35px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
}

.result .gif-result button ion-icon {
  font-size: 1.2em;
}
