.search {
  float: left;
  min-height: 250px;
  height: 40vh;
  padding: 2em;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search p {
  width: 100%;
}

.search form label {
  display: block;
}
.search .my-flex-row {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.search form .my-flex-row input {
  width: 250px;
  background-color: whitesmoke;
  border-top: 1px solid rgb(211, 211, 211);
  border-left: 1px solid rgb(211, 211, 211);
  border-bottom: 1px solid rgb(211, 211, 211);
}
.search form .my-flex-row button {
  text-transform: uppercase;
  border-radius: 0px 2px 2px 0px;
  width: 100px;
}
